table, th, td {
  border: 1px solid black;
}
th {
  background: silver;
}
td {
  min-width: 100px;
}
#absvalue {
  width:12px;
  margin: 0 auto;
}

#back {
  text-decoration: none;
}

#submit {
  color: green;
}
