body{
  background-image: url(bg.jpg);
  background-size:3000px;
  background-position:top;
}

table, th, td {
  border-collapse: collapse;
  font-family: Verdana;
}
#table {
  margin: 0 auto 0 auto;
  max-height:406px;
  overflow-y:scroll;
  overflow-x:scroll;
  width:990px;
  border: solid 1px rgba(0, 40, 85, 0.53);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

th,td {
  padding:15px 7px 15px 7px;
  border-bottom: rgb(171,171,171) solid 1px;
}

tr:nth-child(even) {
  background-color: rgba(223, 202, 148, 0.95);
  transition: background-color 0.2s ;
  transition: color 0.2s  ;
}
tr:nth-child(even):hover {
  background-color: rgba(0, 40, 85, 0.95);
  color: rgb(255,207,82);
}

tr:nth-child(odd) {
  background-color: rgba(232, 232, 232, 0.95);
  transition: background-color 0.2s ;
  transition: color 0.2s ;
}
tr:nth-child(odd):hover {
  background-color: rgba(0, 40, 85, 0.95);
  color: rgb(255,207,82);

}

th {
  color: rgb(255, 207, 82);
  background: #002856;

}

td {
  min-width: 100px;
  text-align: center;
}

  form h1{
  font-family: Verdana;
  color: #002856;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
}
h1 {
  font-family: Verdana;
  color: #002856;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
}

input[type=text] {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  border-style: solid;
  border-radius: 8px;
  border-color: rgb(255,207,82);
  border-width: thin;
  font-size: 15px;
}

input[type=text]:focus {
  outline:none;
}
::-webkit-input-placeholder{
  font-style: italic;
  font-size: 17px;
  color: rgba(0, 40, 85, 0.5);
}

input[type=submit], input[type=reset] {
  border: none;
  width: 49%;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.1s;
  transition: transform 0.1s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 10, 54, 0.2);
}

input[type=submit] {
  background-color:#002856 ;
  color:rgb(255,207,82);
  font-size: 15px;
  text-shadow: 1px 1px 1px #666565;
}

input[type=reset] {
  background-color: rgb(255, 207, 82);
  color: #002856;
  font-size: 15px;
  text-shadow:1px 1px 1px #5b5b5b;
}
input[type=submit]:focus, input[type=reset]:focus {
  outline: none;
}
input[type=submit]:active{
  background-color: rgb(0, 187, 86);
  transform: translate(3px,3px);
}
 input[type=reset]:active {
  background-color: #808080;
  transform: translate(3px,3px);
}

.loginGroup:not(h1) {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Verdana;
}

#form-buttons {
  padding-left: 15px;
}
#absvalue {
  width:12px;
  margin: 0 auto;
}

#back {
  text-decoration: none;
}

#inputBox{
  background-color: rgba(162, 170, 173, 0.95);
  /*background: linear-gradient(135deg, rgba(0,40,86,0.7) 0%,rgba(255,207,82,0.9) 100%);*/
  /*background:rgba(255,207,82,0.9);*/

  width: 480px;
  height: 15em;
  margin: 13% auto 0 auto;
  padding: 2em 6em 6em 6em;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2), 2px 6px 20px 4px rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 860px) {
  #inputBox{
    margin-left: 85px;
    margin-top: 170px;
  }

  h1 {
    margin-top:100px;
  }
}

.validText {
  position:relative;
  display:inline;
  cursor:default;
}

.validText .popuptext {
  display: none;
  width: 400px;
  color: rgb(226, 0, 0);
  text-align: left;
  padding: 8px 0 0 0;
  position: absolute;
  z-index:1;
  bottom: 150%;
  left:50%;
}

.validText .show {
display: inline;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from{opacity: 0;}
  to {opacity: 1;}
}
